html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: azure;
    height: auto;
    margin: 0;
    padding: 0%;
    width: 100%;
}

/*Mobile Version*/
 @media screen and (max-width:500px){

    #desktopmainstart, .navdesktop, .headerdesktop{
        display: none;
    }
    
    .container{
        display: grid;
        margin: 0;
        grid-template-areas: 
        'hd'
        'mn'
        'ft';
        grid-template-rows: 12vh auto 35vh;
    }

    .headermobile{
        width: 100%;
        grid-area: hd;
        background-color: rgb(0, 65, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
    }
    
    .linkhomebutton{
        height: 7vh;
        width: 7vh;
    }

    .logo{
        height: 100%;
        width: 100%;
    }

    .menubutton{
        position: absolute;
        left: 8vw;
        top: 3.5vh;
        height: 5vh;
        width: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .material-icons{
        cursor: pointer;
        font-size: 5vh !important;
        color: azure;
    }

    .cross, #close{
        position: absolute;
        right: 3vw;
        top: 2vw;
        z-index: 15;
    }

    .navmobile{
        position: fixed;
        width: 100vw;
        left: 0;
        height: 63vh;
        top: -90vh;
        transition: top 0.5s;
        background-color: rgb(0, 65, 0);
        z-index: 10;
        padding-bottom: 2vh;
        padding-top: 2.5vh;
    }

    .show{
        top: 0;
    }

    .fade-layer{
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.45);
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .visible{
        display: block;
    }

    ul{
        list-style: none;
        font-size: 3.5vh;
        height: 63vh;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-family: 'inconsolata', monospace;
    }

    #contactus{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .listitem{
        display: flex;
        text-decoration: none;
        width: 100%;
        height: 18%;
        display: flex;
        justify-content: center;
    }

    .menuitem{
        color: azure;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .line{
        height: 1px;
        border-bottom: azure 1px solid;
        width: 72%;
    }

    #mobilemainstart{
        grid-area: mn;
        display: grid;
        grid-template-areas: 
        'pic'
        'news'
        'train'
        'parents'
        'about'
        'funktionarer';
    }

    .mainrubriker{
        font-size: 4.2vh;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;        
    }

    .maintxt, .readmore{
        font-size: 2.4vh;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    .maintxt{
        margin-top: 0;
    }

    .readmore{
        text-decoration: underline;
        font-size: 2.7vh;
    }

    .rubriken{
        font-family: 'Roboto Condensed', sans-serif;        
        font-size: 5vh;
        text-align: center;
        width: 100vw;
        margin-top: 2vh;
    }

    #pic{
        grid-area: pic;
        width: 100vw;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    .mainarticles{
        margin-right: 3vw;
        margin-left: 3vw;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-bottom: 1.5vh;
        border: 3px ridge rgb(0, 0, 0);
        border-radius: 15px;
        margin-bottom: 4vh;
    }

    #news{
        grid-area: news;
    }

    #train, #parents, #about, #funktionarer, #formbox{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    #train{
        grid-area: train;
    }

    #parents{
        grid-area: parents;
    }

    #about{
        grid-area: about;
    }

    #funktionarer{
        grid-area: funktionarer;
    }

    #form{
        padding: 5vw;
        background-color: rgb(0, 65, 0);
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: azure;
        font-size: 2vh;
    }

    footer{
        grid-area: ft;
        background-color: rgb(0, 65, 0);
        color: azure;
        padding: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Roboto Condensed', sans-serif;        
    }

    .footerrubrik{
        font-size: 2.5vh;
        margin: 0;
    }

    .footertxt{
        font-size: 2vh;
        margin: 0;
    }

 }

/*Desktop Version*/
 @media screen and (min-width:501px){
    
    .headermobile{
        display: none;
    }

    .navmobile{
        display: none;
    }

    .headerdesktop{
        background-color: rgb(0, 65, 0);
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .headeritem{
        flex: 1;
        text-align: center;
        color: azure;
    }
    
    .logga{
        height: 10vh;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .fade-layerdesk{
        z-index: 5;
        background-color: rgb(0, 0, 0, 0);
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .material-icons{
        cursor: pointer;
        font-size: 7vh !important;
        color: azure;
    }

    .menubuttondesk{
        position: absolute;
        left: 3vw;
        top: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .crossdesk, #close{
        position: absolute;
        right: 1vw;
        top: 1vh;
        z-index: 15;
    }

    .navdesktop{
        position: fixed;
        left: -60vw;
        top: 0;
        background-color: rgb(0, 65, 0);
        transition: 0.7s;
        z-index: 10;
        height: 100vh;
        width: 30vw;
    }

    

    .showdesktop{
        left: 0;
    }

    .visibledesktop{
        display: block;
    }

    #mobilemainstart{
        display: none;
    }

    #desktopmainstart{
        display: grid;
        grid-template-areas: 
        'news train faceb'
        'news about faceb'
        'funk peren peren';
        grid-template-rows: auto auto auto;
        grid-template-columns: 5fr 4fr 2fr;
        grid-gap: 2vw;
        padding: 2vw;
    }

    .mainarticles{
        background-color: azure;
        border: 2px solid rgb(0, 65, 0);
        padding: 2vw;
        border-radius: 5px;
    }

    .mainrubriker{
        font-size:5vh;
        font-family: 'Roboto Condensed', sans-serif;    
        text-align: center;    
    }

    .maintxt{
        padding: 1vw;
    }

    .readmore{
        text-decoration: underline;
        text-align: right;
        width: 100%;
    }

    .readmore:hover{
        color: rgb(87, 87, 87);
    }

    #news{
        grid-area: news;
    }

    #train{
        grid-area: train;
    }

    #faceb{
        grid-area: faceb;
    }

    #about{
        grid-area: about;
    }

    #footer{
        background-color: rgb(0, 65, 0);
        height: 40vh;
        color: azure;
        padding: 3vw;
    }
 }